{% trans_default_domain "SplashTaskingBundle" %}

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Descritption</th>
            <th>Waiting</th>
            <th>Running</th>
            <th>Finished</th>
            <th>Total</th>
            <th>Progress</th>
        </tr>
    </thead>
    
    <tbody>
    {% for task in status %}
        <tr style="text-align:center">
            <td>{{ task.settings.label | trans( task.settings.translation_params , task.settings.translation_domain  ) }}</td>
            <td>{{ task.settings.description | trans( task.settings.translation_params , task.settings.translation_domain ) }}</td>
            <td>{{ task.Waiting }}</td>
            <td>{{ task.Running }}</td>
            <td>{{ task.Finished }}</td>
            <td>{{ task.Total }}</td>
            <td>{% if task.Total > 0 %} {{ (100 * (task.Finished / task.Total)) | number_format }}% {% else %} N/A {% endif %}</td>
        </tr>
    {% endfor %}        
    </tbody>
</table>
